<div class="jumbotron text-center welcome-img">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Put some ideas for next course</p>
    <a href="/ideas/add" class="btn btn-dark">Add</a>
</div>